
{
  "presets": ["@babel/preset-env", "minify"],
  "plugins": [["@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }],],
}
//   "presets": ["@babel/preset-es2015"]